[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "public"]
	path = public
	url = https://github.com/SSERL/sserl.github.io
[submodule "sserl.github.io"]
	path = sserl.github.io
	url = https://github.com/SSERL/sserl.github.io
[submodule "out"]
	path = out
	url = https://github.com/SSERL/sserl.github.io
